.header-table{
    background: #a3cdf2 !important;
    text-align: center !important;
    font-size: 13px !important;
}
.value-table{
    text-align: center !important;
    font-size: 13px !important;


}