<div class="container mt-5">
    <div class="col-sm-12">
        <!-- HEADING -->
        <h3>List of Pins</h3>
    </div>
    <!-- BUTTONS -->
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary mr-3" (click)="addCustomer()">Add Customer</button>
        <button class="btn btn-primary" (click)="addPin()">Add Pins</button>
    </div>
    <!-- TABLE -->
    <div class="mt-3">
        <p-table [columns]="arrColumns" [value]="arrPins" responsiveLayout="scroll">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" class="header-table">
                        {{col.strHeader}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                  
                    <td *ngFor="let col of columns" class="value-table">
                        <span *ngIf="col.strKey=='strImages' || col.strKey=='strCollaborators';else other_content">
                                <img *ngIf="col.strKey=='strImages'" width="35" [src]="rowData[col.strKey]" alt="">
                                <span *ngIf="col.strKey=='strCollaborators'">
                                    <ng-container *ngFor="let item of rowData[col.strKey]">
                                        <div>
                                            {{item}}
                                        </div>
                                    </ng-container>
                                    
                                </span>
                        </span>
                        <ng-template #other_content>
                            {{rowData[col.strKey]}}
                        </ng-template>
                        
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="columns.length">
                        No records found
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    

</div>