/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto' !important;
}
.mr-3{
    margin-right: 1rem;
}
.mat-form-field-underline{
    display: none !important;
}

.mat-icon{
    color: #4d4dff;
    cursor: pointer;
}
.drop-zone{
    font-size: 10px;
}

.ngx-select__selected-plural{
    padding: 1px;
    font-size: 10px;
}

.mat-form-field-appearance-legacy .mat-form-field-infix{
    padding: 0;
}
.text-danger{
    font-size: 11px;
}

.ml-2{
    margin-left: 1rem;
    font-size: 10px;
}

.font-weight-bold{
    font-weight: bold;
}
label{
    font-weight: bold;
    font-size: 13px;
    .required{
        color:red;
    }
}